@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    object-fit: cover;
}

.desktop a{
    display: block;
    cursor: pointer;
}

html {
  scroll-behavior: smooth;
}


.swiper-pagination-bullet {
  background-color: gray !important; /* Xám nhạt */
}

.swiper-pagination-bullet-active {
  background-color: #53ce58 !important; /* Màu xanh Cala */
}

.no-scroll {
  overflow: hidden;
}


